<main>
    <div class="containe_form_editar">
        <form class="formulario">
            <h2>Atualize sua experiência!</h2>
            <div>
                <label for="lugar"> Lugar:</label>
                <input type="text" id="lugar" value="<%=lugar.lugar%>">
            </div>
            <div>
                <label for="frase"> Frase:</label>
                <input type="text" id="frase" value="<%=lugar.frase%>">
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" value="<%=lugar.descricao%>">
            </div>
            <div>
                <label for="atividades">Atividades:</label>
                <input type="text" id="atividades" value="<%=lugar.atividades%>">
            </div>
            <div>
                <label for="estrutura">Estrutura:</label>
                <input type="text" id="estrutura" value="<%=lugar.estrutura%>">
            </div>
            <div>
                <label for="imagem">Imagem:</label>
                <input type="text" id="imagem" value="<%=lugar.imagem%>">
            </div>
            <span class="container_btn">
                <button  class="btn" type="submit"><b>Atualizar</b></button>
            </span>
        </form>
        <div class="img">
             <img src="/img/Design team-amico.png" alt="formulario" width="400">
        </div>
    </div>
</main>